body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #0e0b0b;
  color: #f70000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: #ffee06;
  margin-left: 15px;
  text-decoration: none;
  text-shadow: 2px 2px 4px #333;

  
}
.nav.food-item:hover
.banner img {
  width: 100%;
  height: auto;
}

.services, .food-samples, .booking {
  padding: 20px;
  text-align: center;
}

.food-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.food-item {
  position: relative;
  width: 100%;
  max-width: 250px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.food-item img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.food-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.food-name {
  font-weight: bold;
  margin-top: 5px;
}

.food-price {
  color: green;
  font-size: 14px;
}

@media (max-width: 900px) {
  .food-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .food-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

footer {
  background: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer .social a {
  color: white;
  transition: color 0.3s ease;
  padding-right: 0%;
  align-items: center;
}

footer .social a:hover {
  color: #ff0000;
}
